    <div class="container body" >
      <div class="main_container">

        <div ng-show="loader" splash-screen class="inner-splash"></div>

        <!-- Sidebar -->
        <aside ng-include="'views/elements/sidebar.html'"></aside>

        <!--  Header -->
        <header ng-include="'views/elements/header.html'" ></header>

        <section ui-view>
            <div splash-screen class="inner-splash"></div>
        </section>

        <!-- Footer -->
        <footer class="footer_fixed" ng-include="'views/elements/footer.html'" ></footer>

        <!-- UI-elements -->
        <div ng-include="'views/elements/ui-elements.html'"></div>

      </div>
    </div>