

        <!-- page content -->
        <div ng-controller="chatCtrl" class="right_col" role="main">
          <div class="mid_section">

            <div class="page-title">
              <div class="title_left">
                <h3>Inbox Design <small>Some examples to get you started</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div ng-show="!loader" class="col-md-12 animate-zoomin">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Inbox Design<small>User Mail</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-sm-3 mail_list_column">
                        <input class="form-control" type="search" placeholder="find collegue..." />

                        <ul class="friend-list">
                          <li class="active bounceInDown">
                            <a href="#" class="clearfix">
                              <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                              <div class="friend-name">
                                <strong>John Doe</strong>
                              </div>
                              <div class="last-message text-muted">Hello, Are you there?</div>
                              <small class="time text-muted">Just now</small>
                              <small class="chat-alert label label-danger">1</small>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="clearfix">
                              <img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                              <div class="friend-name">
                                <strong>Jane Doe</strong>
                              </div>
                              <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                              <small class="time text-muted">5 mins ago</small>
                              <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="clearfix">
                              <img src="http://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                              <div class="friend-name">
                                <strong>Kate</strong>
                              </div>
                              <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                              <small class="time text-muted">Yesterday</small>
                              <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="clearfix">
                              <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                              <div class="friend-name">
                                <strong>Kate</strong>
                              </div>
                              <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                              <small class="time text-muted">Yesterday</small>
                              <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="clearfix">
                              <img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                              <div class="friend-name">
                                <strong>Kate</strong>
                              </div>
                              <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                              <small class="time text-muted">Yesterday</small>
                              <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="clearfix">
                              <img src="http://bootdey.com/img/Content/user_6.jpg" alt="" class="img-circle">
                              <div class="friend-name">
                                <strong>Kate</strong>
                              </div>
                              <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                              <small class="time text-muted">Yesterday</small>
                              <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="clearfix">
                              <img src="http://bootdey.com/img/Content/user_5.jpg" alt="" class="img-circle">
                              <div class="friend-name">
                                <strong>Kate</strong>
                              </div>
                              <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                              <small class="time text-muted">Yesterday</small>
                              <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                            </a>
                          </li>
                          <li>
                            <a href="#" class="clearfix">
                              <img src="http://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                              <div class="friend-name">
                                <strong>Jane Doe</strong>
                              </div>
                              <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                              <small class="time text-muted">5 mins ago</small>
                              <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                            </a>
                          </li>
                        </ul>
                       
                      </div>
                      <!-- /MAIL LIST -->

                      <!-- CONTENT MAIL -->
                      <div class="col-sm-9 mail_view">
                        <div class="inbox-body">
                          <div class="chat-message">
                            <ul class="chat">
                              <!--<li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                  <div class="header">
                                    <strong class="primary-font">John Doe</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                  </div>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  </p>
                                </div>
                              </li>
                              <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                  <div class="header">
                                    <strong class="primary-font">Sarah</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                  </div>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                                  </p>
                                </div>
                              </li>
                              <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                  <div class="header">
                                    <strong class="primary-font">John Doe</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                  </div>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  </p>
                                </div>
                              </li>
                              <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                  <div class="header">
                                    <strong class="primary-font">Sarah</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                  </div>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                                  </p>
                                </div>
                              </li>
                              <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                  <div class="header">
                                    <strong class="primary-font">John Doe</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                  </div>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  </p>
                                </div>
                              </li>
                              <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                  <div class="header">
                                    <strong class="primary-font">Sarah</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                  </div>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                                  </p>
                                </div>
                              </li>
                              <li class="right clearfix">
                                <span class="chat-img pull-right">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                  <div class="header">
                                    <strong class="primary-font">Sarah</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                  </div>
                                  <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at.
                                  </p>
                                </div>
                              </li>-->

                              <li ng-repeat="message in messages" class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="{{message.avatar}}" alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                  <div class="header">
                                    <strong class="primary-font">{{message.firstname}} {{message.lastname}}</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                  </div>
                                  <p>
                                    {{message.chat_message}}
                                  </p>
                                </div>
                              </li>

                            </ul>

                          </div>

                          <div class="chat-box bg-white">
                            <form ng-submit="sendMessage($event)">
                              <div class="input-group">
                                <input ng-model="messageContent" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                                <span class="input-group-btn">
                                  <button class="btn btn-success no-rounded chat-send-btn" type="submit">Send</button>
                              </span>
                              </div><!-- /input-group -->
                            </form>
                          </div>

                        </div>

                      </div>
                      <!-- /CONTENT MAIL -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
