
<!-- page content -->
    <div class="right_col" role="main">
      <div class="mid_section">
        <div class="page-title">
          <div class="title_left">
            <h3>Products <small>Some examples to get you started</small></h3>
          </div>

          <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          
          <div class="clearfix"></div>

          <div ng-show="!loader && records" class="col-md-12 col-sm-12 col-xs-12 animate-zoomin">
            <div class="x_panel">
              <div class="x_title">
                <h2>Table design <small>Custom design</small></h2>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">

                <div ng-repeat="product in records" class="col-md-2 col-xs-12 widget widget_tally_box">
                  <div class="x_panel ui-ribbon-container">
                    <!--<div class="ui-ribbon-wrapper">
                      <div class="ui-ribbon">
                        30% Off
                      </div>
                    </div>-->
                    <div class="x_title">
                      <h2>{{ 'Product '+($index+1) }}</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <div style="text-align: center; margin-bottom: 17px">
                        <img ng-src="{{ IMG_URL+'media.jpg' }}" alt="">
                      </div>

                      <h3 class="name_title">{{ '$'+product.price }}</h3>
                      <p>{{ product.description | substr:25 }}</p>

                      <div class="divider"></div>
                      <p><button ui-sref="home.product_detail({ id: product._id })" class="btn btn-success pay-btn"> Pay </button></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page content -->