
table
    tr
        td.content.footer(align='center')
            p
                | Sent by
                a(href='#') Company Name
                | , 1234 Yellow Brick Road, OZ, 99999
            p
                a(href='mailto:') hello@company.com
                |
                a(href='#') Unsubscribe