<!-- start: REGISTRATION -->
<div class="row login">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo margin-top-30">
            <img src="/public/images/logo.png" alt="Clip-Two"/>
        </div>
        <!-- start: REGISTER BOX -->
        <div class="box-register">
            <form (ngSubmit)="register()" class="form-register" novalidate>
                <fieldset>
                    <legend>
                        Sign Up
                    </legend>
                    <p>
                        Enter your personal details below:
                    </p>
                    <div class="form-group" [ngClass]="{'has-error':(fullname.errors && (fullname.touched || fullname.dirty))}">
                        <input #fullname="ngModel" [(ngModel)]="user.fullname" type="text" class="form-control" name="full_name" placeholder="Full Name" required minlength="5" maxlength="15" />
                        <div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)">
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="!fullname.errors.required"> You've to enter your full name ! </i>
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="(!fullname.errors.minlength || !fullname.errors.maxlength)"> You've enter chars length between 5 to 15 ! </i>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':(username.errors && (username.touched || username.dirty))}">
                        <input #username="ngModel" [(ngModel)]="user.username" type="text" class="form-control" name="address" placeholder="Username" required minlength="5" maxlength="10" />
                        <div *ngIf="username.errors && (username.dirty || username.touched)">
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="!username.errors.required"> You've to enter your username ! </i>
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="(!username.errors.minlength || !username.errors.maxlength)"> You've enter chars length between 5 to 10 ! </i>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':(phone.errors && (phone.touched || phone.dirty))}">
                        <input type="tel" class="form-control" name="phone" #phone="ngModel"  [(ngModel)]="user.phone" placeholder="Phone" required minlength="10" maxlength="10"/>
                        <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="!phone.errors.required"> You've to enter your phone number ! </i>
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="(!phone.errors.minlength || !phone.errors.maxlength)"> You've to enter valid phone number ! </i>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="clip-radio radio-primary">
                            <input type="radio" checked id="rg-female" name="gender" value="female">
                            <label for="rg-female">
                                Female
                            </label>
                            <input type="radio" id="rg-male" name="gender" value="male">
                            <label for="rg-male">
                                Male
                            </label>
                        </div>
                    </div>
                    <p>
                        Enter your account details below:
                    </p>
                    <div class="form-group" [ngClass]="{'has-error':(email.errors && (email.touched || email.dirty))}">
								<span class="input-icon">
									<input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" name="email" placeholder="Email" required />
									<i class="fa fa-envelope"></i> </span>
                        <div *ngIf="email.errors && (email.dirty || email.touched)">
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="!email.errors.required"> You've to enter your email ! </i>
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="(!email.errors.email)"> You've to enter valid email ! </i>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':(password.errors && (password.touched || password.dirty) || user.password!=user.password_again)}">
								<span class="input-icon">
									<input #password="ngModel" [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password"
                                           placeholder="Password" required />
									<i class="fa fa-lock fa-lg"></i> </span>
                        <div *ngIf="(password.errors && (password.touched || password.dirty) || user.password!=user.password_again)">
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="!password.errors.required"> You've to enter your password ! </i>
                            </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':(password_again.errors && (password_again.touched || password.dirty) || user.password!=user.password_again)}">
								<span class="input-icon">
                                    {{user.password_again}}
									<input #password_again="ngModel" [(ngModel)]="user.password_again" type="password" class="form-control" name="password_again"
                                           placeholder="Password Again" required />
									<i class="fa fa-lock fa-lg"></i> </span>
                        <div *ngIf="(password_again.errors && (password_again.touched || password_again.dirty) || user.password!=user.password_again)">
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="!password_again.errors.required"> You've to enter your password again ! </i>
                            <i class="pull-right" [ngStyle]="{'color':'#A94442'}" [hidden]="(user.password!=user.password_again)"> You've to enter same password ! </i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox clip-check check-primary">
                            <input required type="checkbox" id="agree" value=true />
                            <label for="agree">
                                I agree
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <p>
                            Already have an account?
                            <a [routerLink]="['/login']">
                                Log-in
                            </a>
                        </p>
                        <button
                                [disabled]="loading"
                                type="submit" class="btn btn-primary pull-right">
                            Submit <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> ClipTheme</span>.
                <span>All rights reserved</span>
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: REGISTER BOX -->
    </div>
</div>
<!-- end: REGISTRATION -->